<div class="row">
  <!-- <div class="col-sm-6"> mb-3 mb-md-0 -->
  <div class="col-sm-6">
    <div class="card" style="margin-top: 3%;">
      <div class="card-body">
        <h5 class="card-title">Processos Cadastrados</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        <div class="list-group">
          <!-- active class no bootstrap na lista! -->
          <div *ngFor="let proc of processos; index as i;">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Processo No {{proc.number}}</h5>
                <small>{{proc.smallDate}}</small>
              </div>
              <p class="mb-1">{{proc.smallInfo}}</p>
              <small>Comarca : {{proc.comarca}}</small>
            </a>
          </div>
        </div>
        <a href="#!" class="btn btn-primary">Adicionar Processo</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" style="margin-top: 3%;">
      <div class="card-body">
        <h5 class="card-title">Processos do Escritorio</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div class="list-group">
          <!-- active class no bootstrap na lista! -->
          <div *ngFor="let proc of processos; index as i;">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Processo No {{proc.number}}</h5>
                <small>{{proc.smallDate}}</small>
              </div>
              <p class="mb-1">{{proc.smallInfo}}</p>
              <small>Comarca : {{proc.comarca}}</small>
            </a>
          </div>
        </div>
        <a href="#!" class="btn btn-primary">Seguir Processos</a>
      </div>
    </div>
  </div>
</div>