<div class="row">
  <!-- <div class="col-sm-6"> mb-3 mb-md-0 -->
  <div class="col-sm-6">
    <div class="card" style="margin-top: 3%;">
      <div class="card-body">
        <h5 class="card-title">Processos Cadastrados</h5>
        <p class="card-text">Processos cadastrado pelo Usuário.</p>

        <div class="list-group">
          <!-- active class no bootstrap na lista! -->
          <div *ngFor="let proc of processos; index as i;">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Processo No {{proc.number}}</h5>
                <small>{{proc.smallDate}}</small>
              </div>
              <p class="mb-1">{{proc.smallInfo}}</p>
              <small>Comarca : {{proc.comarca}}</small>
            </a>
          </div>
        </div>
        <a class="btn btn-primary" style="margin-top: 2%;" (click)="openModal(template)">Adicionar Processo</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" style="margin-top: 3%;">
      <div class="card-body">
        <h5 class="card-title">Processos do Escritorio</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div class="list-group">
          <!-- active class no bootstrap na lista! -->
          <div *ngFor="let proc of processos; index as i;">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Processo No {{proc.number}}</h5>
                <small>{{proc.smallDate}}</small>
              </div>
              <p class="mb-1">{{proc.smallInfo}}</p>
              <small>Comarca : {{proc.comarca}}</small>
            </a>
          </div>
        </div>
        <a class="btn btn-primary" style="margin-top: 2%;" data-toggle="modal">Seguir Processos</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #template>

  <div class="modal-content " id="modal">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Adicionar processo</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="processForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="lastName">Numero do Processo:</label>
          <input formControlName="processo" placeholder="Ex: 0187864-53.2012.8.19.0004" name="processo"
            class="form-control" id="processo">
        </div>
        <button class="btn btn-success">Adicionar</button>
      </form>
      <div class="alert alert-success alert-dismissible" style="margin-top: 1%" [hidden]="sucesso">
        <strong>Success!</strong> Processo Salvo com sucesso!
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      <!-- Error Alert -->
      <div class="alert alert-danger alert-dismissible" style="margin-top: 1%" [hidden]="erro">
        <strong>Error!</strong> Erro ao Salvar o processo!
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>

  </div>

</ng-template>