@media (max-width: 767px) {
    .modal-content {
        margin: 50% 0% 0% 3% !important;
        position: absolute !important;
        width: 90% !important;
    }
}

.modal-content {
    width: 125%;
}

.modal-dialog {
    
}

.overflow-processo{
    overflow-y: scroll;
    max-height:  50vh;
    height: 50vh;
}

.card{
    margin-bottom: 3%
}